**/node_modules
**/.next
**/dist
**/.turbo
**/coverage
**/.git
**/*.log
**/.DS_Store
.env
.env.*
**/.env
**/.env.*
apps/backend/uploads/*
!apps/backend/uploads/videos
apps/backend/uploads/videos/*
!apps/backend/uploads/videos/360p
!apps/backend/uploads/videos/480p
!apps/backend/uploads/videos/720p
apps/backend/uploads/videos/*/*
!apps/backend/uploads/videos/*/placeholder.mp4
apps/backend/src/generated
