POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=adamix


JWT_SECRET=change_me_jwt_secret
CLIENT_URL=https://adamics.uk
API_URL=https://api.adamics.uk

RECAPTCHA_SECRET_KEY=

SMTP_PASSWORD=
SMTP_SERVER=smtp.mailgun.org
SMTP_LOGIN=

NEXT_PUBLIC_SITE_URL=https://adamics.uk
NEXT_PUBLIC_API_URL=https://api.adamics.uk/api
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
