# dependencies
node_modules
.pnp
.pnp.js

# turbo
.turbo

# builds
dist
.next
out
build

# prisma generated client
apps/backend/src/generated

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
**/.DS_Store
Thumbs.db
coverage
*.tsbuildinfo
next-env.d.ts

# uploads (local dev)
apps/backend/uploads/*
!apps/backend/uploads/.gitkeep
!apps/backend/uploads/videos
apps/backend/uploads/videos/*
!apps/backend/uploads/videos/360p
!apps/backend/uploads/videos/480p
!apps/backend/uploads/videos/720p
apps/backend/uploads/videos/*/*
!apps/backend/uploads/videos/*/placeholder.mp4

# editor
.idea

# Other
docs
.claude
.claude/
.CLAUDE.md
.claude/settings.local.json
CLAUDE.md
.vscode
.turbo
# legacy course notes
apps/backend/instruction.txt
